body {
  background-image: url("./images/weather-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}
.App {
  color: white;
}

.App footer {
  font-size: 12px;
  margin: 20px 0;
}
.container {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(214, 212, 212, 0.2);
}
